.body {
  background: right url("фон1.jpg");
  background-repeat: repeat;
  background-size: 100% auto;
  height: 50px;
  align-items: center;
  font-weight: bolder;
}

.main{
  display: flex;
  flex-direction: column;
}

.header,.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5%;
  background-color: #ffffff;
  font-size: 20px; /*Размер шрифта*/
  color: #000000; /* Цвет текста */
}

.logo{
  display: flex;
  flex-direction: row;
}

.header h1 {
  font-size: 60px;
}

.nav{
  display:flex;
  order: 3;
  flex-direction: column;
}

#nav_button{
  color: #000000;
}

.window{
  background: right url("фон2.jpg");
  font-size: 20px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
}

.links{
  order: 2;
}

.table {
  border-collapse: collapse; /* Убирает двойные границы между ячейками */
  overflow-x: auto;
  order: 1;
}

th, td {
  border: 3px solid #5c396a; /* Граница для ячеек */
  text-align: center; /* Выравнивание текста */
  padding: 8px; /* Отступы внутри ячеек */
}

th {
  background-color: #c395dc; 
}

tbody tr:nth-child(even) {
  background-color: #c395dc; /* Цвет фона для четных*/
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Цвет фона для нечетных*/
}

.link {
  text-decoration: none;
}

.field{
  width: 100%;
}


@media (min-width: 576px) {
  .main{
    display: contents;
  }

  .header, .footer{
    border-radius: 10%;
    flex-direction: row;
  }

  .nav{
    flex-direction: row;
  }

  .window{
    width: 80%;
    border-radius: 5%;

  }

  .links{
    order: 1;
  }

  .table{
    order: 2;
  }

  .field{
    width: 200px;
  }
}
