.body {
  background: right url("фон1.jpg");
  background-repeat: repeat;
  background-size: 100% auto;
}

.header,.footer {
  border-radius: 5%;
}

#nav_button{
  color: #000000;
}

.window{
  background: right url("фон2.jpg");
  border-radius: 5%;
  max-width: 960px;
}

.table {
  border-collapse: collapse;
  overflow-x: auto;
  max-width: 500px;
}

th, td {
  border: 3px solid #5c396a;
}

th {
  background-color: #c395dc; 
}

tbody tr:nth-child(even) {
  background-color: #c395dc; /*четныe*/
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /*нечетныe*/
}

