.body {
    background: right url("фон1.jpg");
    background-repeat: repeat;
    background-position: 10% 20%;
    background-size: 100% auto;
    display: grid;
    height: 50px;
    align-items: center;
    font-weight: bolder;
}
  
.header {
    background-color: #ffffff;
    padding: 10px;
    font-size: 20px; /*Размер шрифта*/
    color: #000000; /* Цвет текста */

    border-radius: 20%;
    margin-bottom: 15px;

    margin-top: 15px;
}

.header h1 {
  font-size: 70px;
  text-align: center;
}

.nav{
  float: right;
  margin-top: 15px;
  margin-right: 15px;

}

.picture{
  float: left;
  margin-left: 25px;
  margin-top: 20px;
}

textarea{
  resize: both;
  max-width: 300px;
  max-height: 100px;
  min-width: 100px;
  min-height: 50px;
}

table {
  width: 100px;
  margin: auto;
  border-collapse: collapse; /* Убирает двойные границы между ячейками */
}

th, td {
  border: 3px solid #5c396a; /* Граница для ячеек */
  text-align: center; /* Выравнивание текста */
  padding: 8px; /* Отступы внутри ячеек */
}

th {
  background-color: #c395dc; 
}

tbody tr:nth-child(even) {
  background-color: #c395dc; /* Цвет фона для четных*/
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Цвет фона для нечетных*/
}

.link {
  text-decoration: none;
}

.window0{
  background: right url("фон2.jpg");
  text-align: center;
  border-radius: 20%;
  font-size: 20px;
  max-width: 920px;
  min-width: 920px;
  margin: auto;
  margin-bottom: 15px;

}

.window1{
  background: right url("фон2.jpg");
  padding: 20px;
  border-radius: 20%;
  font-size: 20px;
  max-width: 920px;
  min-width: 920px;
  margin: auto;
  margin-bottom: 15px;

}

footer {
  background-color: #ffffff;
  padding: 10px 10px;
  font-size: 20px; /*Размер шрифта*/
  margin-top: 15px; 
  margin-bottom: 15px;
  border-radius: 20%;
  text-align: center;
}
