.body {
    background: right url("task2/фон1.jpg");
    background-repeat: repeat;
    background-position: 10% 20%;
    background-size: 100% auto;
    display: grid;
    height: 50px;
    align-items: center;
    font-weight: bolder;
    font-family: 'DejaVu Sans Mono', monospace; /*шрифт*/
}
  
.header {
    background-color: #ffffff;
    padding: 10px 10px;
    font-size: 20px; /*Размер шрифта*/
    color: #000000; /* Цвет текста */

    border-radius: 20%;
}

.header h1 {
  font-size: 300%;
  text-align: center;
  margin-left: 15%;

}

.nav{
  float: right;
  margin-top: 2%;
  margin-right: 3%;

}

.picture{
  float: left;
  margin-left: 5%;
  margin-top: 1%;

}
textarea{
  resize: both;
  max-width: 300px;
  max-height: 100px;
  min-width: 100px;
  min-height: 50px;
}

table {
  width: 100%;
  border-collapse: collapse; /* Убирает двойные границы между ячейками */
}

th, td {
  border: 3px solid #5c396a; /* Граница для ячеек */
  text-align: center; /* Выравнивание текста */
  padding: 8px; /* Отступы внутри ячеек */
}

th {
  background-color: #c395dc; 
}

tbody tr:nth-child(even) {
  background-color: #c395dc; /* Цвет фона для четных*/
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Цвет фона для нечетных*/
}

.link {
  text-decoration: none;
}

.window0{
  background: right url("task2/фон2.jpg");
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  text-align: center;
  border-radius: 20%;
  font-size: 23px;
}

.window1{
  background: right url("task2/фон2.jpg");
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  text-align: center;
  padding: 5%;
  border-radius: 20%;
  font-size: 20px;

}

footer {
  background-color: #ffffff;
  padding: 10px 10px;
  font-size: 20px; /*Размер шрифта*/
  margin-top: 3%;
  margin-bottom: 10px;
  border-radius: 20%;
  text-align: center;
}
